.App {
  text-align: center;
  overflow: hidden;
}

html {
  background-color: #007dc1 !important;
  overflow: hidden;
}
.card {
  width: 110vw;
  height: 98vh;
  overflow: hidden;
  align-self: center;
  vertical-align: center;
  background-color: #007dc1 !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-container {
  overflow: hidden;
}

.carousel-root {
  background-color: #007dc1 !important;
}

.signin-card {
  background-color: #fff;
  width: 700px;
  height: 700px;
  margin-left: 30%;
  padding: 5%;
}
