.App {
  text-align: center;
  overflow: hidden;
}

html {
  background-color: #007dc1;
  overflow: hidden;
}
.card {
  width: 110vw;
  height: 98vh;
  overflow: hidden;
  align-self: center;
  vertical-align: center;
  background-color: #007dc1;
}

.carousel-container {
  overflow: hidden;
}
